

:root {
    --clr-dark: #313338;
    --clr-dark-100: #313133;
    --clr-dark-200: #1a1a1b;
    --clr-primary: #5865F2;
    --clr-accent: #2DC770;
    --clr-danger: #F23F42;
    --clr-text-primary: #f5f5f5;
    --clr-text-secondary: #A0A4AB;
    --clr-text-dark: #787E86;
    --clr-blue: #00A8FC;
}