@use "../../util" as u;

.date-selector .select-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: u.em(10);
}

.date-selector-title {
    color: var(--clr-text-secondary);
    margin-bottom: u.em(5);
    text-transform: uppercase;
    font-weight: 600;
    font-size: u.rem(15);
}