@use "../../util" as u;

.text-input {
    width: 100%;
}

.input-title {
    color: var(--clr-text-secondary);
    margin-bottom: u.em(5);
    text-transform: uppercase;
    font-weight: 600;
    font-size: u.rem(15);
}

.input-required {
    margin-left: u.em(10);
    margin-top: u.em(5);
    color: var(--clr-danger);
    font-size: u.rem(10);
    position: absolute;
}

.input-field-container {
    border-radius: u.em(5);
    padding: u.em(12) u.em(14);
    background-color: var(--clr-dark-200);
    display: grid;
    grid-template-columns: 1fr u.em(25);
    gap: u.em(10);
    justify-content: space-between;
}

.input-field {
    border: none;
    outline: none;
    font-size: u.rem(16);
    background: transparent;
    color: var(--clr-text-primary);
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: u.em(20);
}

.input-icon-btn {
    cursor: pointer;
}

.error {
    color: var(--clr-danger--light);
}

.input-error {
    font-size: u.rem(11);
    text-transform: capitalize;
}