@use "../util" as u;
@import "../components/form/auth-form";

.login-container {
    max-width: u.em(800);
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: u.em(30);
}

.qr-text {
    text-align: center;
}

.qr-heading {
    @extend %auth-heading-style;
}

.form-subheading, .qr-text {
    @extend %auth-subheading-style;
}

.qr-container {
    padding-left: u.em(10);
    padding-top: u.em(20)
}

.qr-text {
    width: u.em(250);
    margin-inline: auto;
}

.qr-code {
    border-radius: u.em(10);
    overflow: hidden;
    width: u.em(180);
    margin-inline: auto;
    margin-bottom: u.em(30);
}

.login-form-register {
    display: flex;
    flex-direction: row;
    gap: u.em(10);
}

.register-link {
    font-size: u.rem(13);
}

.register-text {
    color: var(--clr-text-dark);
    font-size: u.em(14);
}