@use "../util" as u;

.register-heading {
    margin-bottom: u.em(15);
    font-size: u.em(22) !important;
}

.register-container {
    max-width: u.em(500);
}

.register-input-title, .register-input-field {
    font-size: u.rem(13) !important;
}

.register-birthdate .date-selector-title {
    font-size: u.rem(13) !important;
}